
html {
  background-color:  #96D3D3;
}

/* Constant navbar styling */
nav {
    /* define flex container */
    display: flex;

    /* alignment on the y axis */
    align-items: center;

    /* Space evenly on the x axis */
    justify-content: space-evenly;

    /* height: %; */

    background-color: #2B4353;
    /* padding-left: 30%; */
    /* word-spacing: 100px; */
}

nav a {
  /* margin: 10px; */
  padding: 15px;
  color: #E8630A
}

footer { 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-color: #2B4353;
  padding: 15px;
}

#contact-cont {
  color:#E8630A; 
}

#quote-cont p {
  width: 200px
}

/* ------------ Name heading styling ------------ */

.heading-cont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heading_part1 {
  color:#E8630A;
  letter-spacing: 10px;
  font-style: italic;

  
}

.heading_part2 {
  color:#E8630A;
  letter-spacing: 10px;
  font-style: italic;
}

/* ---------------------------------------- */

/* Main content */

#cont-image-main {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: wrap;

}

#cont-image-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
#cont-image-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}


.p-cont {
  /* This is a child of the flexbox */
  align-self: center;

  /* But also a flexbox itself */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  /* align-content: space-between; */

  width: 400px;
  height: 450px;
  /* border: 1px solid black */
}

.subheading {
  align-self: flex-start;
}

.paragraph1 {
  align-self: flex-end;
}

.content-image {
  /* size: 30%; */
  width: 350px;
  border: 1px solid #E8630A;
  margin: 10%;
  /* background-color: antiquewhite; */
}

.divider {
  display: flex;
  justify-content: center;
}

#divider-main{
  background-color: #E8630A;
  height: 5px;
  width: 80%;
  
}

#divider-secondary{
  background-color: #E8630A;
  height: 2px;
  width: 80%;
  
}

/* ---------------------------------------- */

/* Gallery */

#gallery-heading-cont {
  display: flex;
  justify-content: center;
}

#gallery-heading {
  color:#2B4353;
  letter-spacing: 5px;
  font-style: italic;
}

#gallery-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
  gap: 10px;
}
 
.gallery-image-cont-normal {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* height: 350px; */
  border: 2px solid #E8630A
} 

.gallery-image-cont-wide {
  display: flex;
  flex-direction: column;

  width: 45%;
  border: 2px solid #E8630A
}

.gallery-image-cont-tall {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 40%;
  border: 2px solid #E8630A
}

/* .gallery-image-cont img {
  width: 300px
} */
